#rules_on_table {
    width: 100%;
    top: 150px;
    position: absolute;
    /*font-family: AtariBold, sans-serif;*/
    text-align: center;
    font-size: 30px;
    /*font-weight: bold;*/

}
.curved {
    position: absolute;
    font: 50px/1.4 AtariBold, arial;
    letter-spacing: 0;
    left: 400px;
    opacity: 0.85;
    text-shadow: white 0 0 2px;
}
#curved1 {
    top: 0;
    text-transform: uppercase;
    color: crimson;
}
#curved2 {
    top: 60px;
    font-size: 30px;
    color: white;
    text-shadow: black 0 0 2px;
}
#curved3 {
    top: 100px;
    font-size: 35px;
    color: yellow;
}